src/

tsconfig.json
.eslintrc*
.prettierrc*

.github/

website/
assets/

test/
tests/
__tests__/
coverage/

dist/**/*.map

.env
.env.*
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
.vscode/
.idea/